.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Landing {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.landingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #233752;
  height: 5vh;
  width: 100%;
  font-size: 30px;
  position: fixed;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
}
.totalCompletedDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 20px;
  background-color: coral;
  margin-right: 20%;
}
.totalIndicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 5px;
  border-radius: 25px;
  background-color: white;
}
.completedIndicator {
  background-color: lightgreen;
  width: 0%;
  height: 100%;
  border-radius: 25px;
}

.testTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0%;
  margin-right: 35%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: coral;
}
#compilerMainDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.endTestButton {
  font-size: 20px;
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
  color: #233752;
  border-radius: 5px;
}
.endTestButton:hover {
  background-color: red;
  color: white;
}
#inputOutputDiv {
  display: flex;
  width: 85%;
  justify-content: space-between;
  gap: 2%;
}

.selectedQuestionDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-family: sans-serif;
  height: 10vh;

  width: 99%;
  margin-left: 1%;
}
#codeEditor {
  display: flex;
  width: 100%;
}
.codeCompiler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.questionsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 4%;
  padding-left: 0.5%;
  overflow: hidden;
  height: 99vh;

  transition: width 2s;
}
.questionNumberContainer {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding-top: 15%;
  height: 50vh;
  width: 5vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.questionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding-top: 2%;
  height: 95vh;
  width: 100%;
  margin-left: 2%;
  display: none;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
.closeContainer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.detailedQuestion {
  font-size: 20px;
  height: auto;
  background-color: white;
  width: 99%;
  display: flex;
}
.detailedQuestionDescription {
  font-size: 20px;
  height: auto;
  background-color: white;
  width: 99%;
  display: flex;
  margin-top: 2%;
}
.samplesContainer {
  font-size: 20px;
  height: auto;
  background-color: #f5f5f5;
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}
.sampleInputContainer {
  font-size: 25px;
  height: 300px;
  background-color: white;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: medium;
  justify-content: space-between;
  font-weight: bold;
}
.sampleOutputContainer {
  font-size: 25px;
  height: 300px;
  background-color: white;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: medium;
  font-weight: bold;
  justify-content: space-between;
}
.sample {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #282c34;
  height: 90%;
  width: 100%;
  color: lightgreen;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 1%;
}

.questionNumber {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  width: 50px;
  cursor: pointer;
  font-weight: bold;

  border: 1px solid;
  height: auto;
  background-color: #233752;
  color: white;
}
.detailedQuestionExplanation {
  background-color: white;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  font-size: 20px;
}
.inputOutputDiv {
  display: flex;
  width: 90%;
  height: auto;
  align-items: flex-start;
  gap: 5%;
  justify-content: space-between;
  flex-direction: column;
}
.customInput {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1%;
}
.testCasesDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  margin-top: 0.5%;
  font-size: 20px;
  padding-top: 1%;
  border-radius: 5px;
  padding-left: 1%;
  border: 2px solid rgb(26, 56, 64);
  background-color: #233752;
  color: white;
  transition: height 3s;
}
.testCasesDiv:hover {
  height: 30vh;
}
.case1 {
  height: 4vh;
  width: 98%;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(193, 193, 193, 0.702);
}
.cases {
  height: auto;
  width: 98%;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  align-items: center;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  justify-content: space-between;
  background-color: coral;
  color: white;
}
.resultsSubmitContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;

  padding-left: 2%;

  padding-right: 2%;
  background-color: rgb(210, 43, 43);
  border-radius: 10px;

  color: white;
  margin-top: 2%;
  width: 20%;
}
.submitButton:hover {
  border: 2px solid lightgray;
}

.questionNumber:hover {
  background-color: white;
  color: black;
}
.detailedQuestionHeading {
  font-size: 20px;
  width: 99%;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.questionsContainer:hover {
  width: 90%;
}
.selectedQuestionCompilerDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.landingBody {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
